* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#left{
  width:200px;
  float: left;
  
}

#right{
  width:120px;
  float: right;
}



#content{
  margin-left: 205px;
  margin-right: 125px;
}

#content, #left, #right{
  padding:20px;
  background-color: white;
  border: 1px solid #999;
}

#container{
  overflow: auto;
  width:100%;
  padding:20px;
  border: 1px solid #999;
  background-color: #eee;
}