input{
  display: none;
}

.checkBox+label, .radios+label{
  width:18px;
  height: 18px;
  border: 1px black solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkBox:checked+label, .radios:checked+label{
  border: 1px solid red;
}
.checkBox:checked+label::after{
  content: '\2714';
  color: red;
}

.radios+label{
  border-radius: 50%;
}

.radios:checked+label::after{
  content: ' ';
  background-color: red;
  width:8px;
  height: 8px;
  border-radius: 50%;
}

.checkBox_sprit+label, .radioBox_sprit+label{

  background-image: url("./sprite.png");
  height: 18px;
  width: 18px;
  display: inline-block;
}

.radioBox_sprit+label{
  background-position: -22px -10px;
}

.radioBox_sprit:checked+label{
  background-position: -57px -10px;
}

.checkBox_sprit+label{
  background-position: -24px -32px;
}

.checkBox_sprit:checked+label{
  background-position: -59px -31px;
}


