.container ul,.container li{
  display: none;
}

.show{
  display: inherit !important;
}

.show > li{
  display: inherit !important;
}

.have-children.expand::before{
  content: "+"
}

.have-children::before{
  content: "-"
}