html, body, .root{
  height: 100%;
  margin: 0;
  padding: 0;
}

.root{
  display: flex;
}

.editor-container, 
.previewer-container{
  flex-grow: 1;
  flex-shrink: 1;
}

.editor-container{
  background-color: rgba(129,212,250 ,1);
}

.previewer-container{
  background-color: rgba(230,238,156 ,1);
  padding:10px;
}

#editor{
  height: 100%;
  width: 100%;

}

.mkd-head{}
.mkd-p{
  margin: 8px 0;
}

.mkd-list{
  padding-left: 20px;
}

.mkd-code-block{
  background-color: rgba(144,164,174 ,1);
}

.mkd-inline-code{
  background-color: rgba(144,164,174 ,1);
}

.mkd-quote{
  margin-left: 20px;
  padding-left: 20px;
  border-left: 5px solid rgba(3,169,244 ,1);
}



